/notebook/copy Bank_marketing.ipynb
/notebook/Backup Bank_marketing.ipynb

/report/Clients Pages Template.jpg
/report/template finpro.jpg
/report/pages 3.jpg

/report/tableau_1.jpg
/report/tableau_2.jpg
/report/tableau_3.jpg

/report/streamlit_1.jpg
/report/streamlit_2.jpg
/report/streamlit_3.jpg

/streamlit/__pycache__/